*{
    margin: 0;
    padding: 0;
}
#navbar{
    display: flex;
    align-items: center;
}
#logo{
    margin: 15px 39px;
}
#logo img{
    height: 75px;
    margin:-3px -8px;
    border-radius: 90px;
}
a{
    color:  #8d3838;
}
/* nav bar */
#navbar{
    position: relative;
    background-color:#cf959546;
    font-family: 'Fugaz One', cursive;
    
}
#navbar ul{
    display: flex;
}
#navbar::before{
    content: "";
    background-color:rgb(0, 0, 0);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;

}
#navbar ul li{
    list-style-type: none;
    font-size: 1rem;
    margin: 8px;
}

#navbar ul li a{
    color: rgb(255, 255, 255);
    background-color:  #8d3838;
    display: block;
    padding: 3px 10px;
    border-radius: 20px;  
    text-decoration: none;
}
#navbar ul li a:hover{
    color:  #8d3838;
    background-color: #fdfdfd;
}
#navbar ul div{
    padding-left: 450px;
}
/* home */
#home{
    height: 400px;
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    background: url('customer_cover.jpg') no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.95;

}
#home h1{
    color: #8d3838;
    margin-top: 0px;
    /* text-align: center; */
    font-size: 5rem;
    font-family: 'Berkshire Swash', cursive;
}
#home p{
    color: rgb(124, 122, 122);
    text-align: center;
    font-family: 'Germania One', cursive;
    font-size: 2rem;
}

.h-primary{
    font-size: 3.8rem;
    padding: 12px;
}
.btn{
    padding: 6px 20px;
    border: 2px solid#8d3838;
    color: rgb(255, 255, 255);
    background-color:  #8d3838;
    margin: 17px;
    font-size: 1rem;
    border-radius: 20px;
    font-weight: bold;
}
/* resturants */
.h-secondary{
    font-size: 1.8rem;
    padding: 12px;
    font-family: 'Solway', serif;
    color: black;
}
#resturants{
    margin: 34px;
    display: flex;
}
#resturants .box{
    border: 2px solid  #8d3838;
    padding: 14px;
    margin:3px 50px;
    border-radius: 23px;
    height: 270px;
    width: 400px;
    background-color: #e9c7c74b;
    color: rgb(100, 96, 96);
    
}
#resturants .box img{
    height: 110px;
    display: block;
    margin: auto;
    border-radius: 100px;

}
.center{
    text-align: center;
}
.hstyle{
    padding-top: 230px;
    padding-bottom: 12px;
    font-size: 3.8rem;
    color: #8d3838;
    font-family: 'Berkshire Swash', cursive;

}
.p_reset{
    text-align: center;
    padding-top: 10px;
    font-size: 1.3rem;
    font-weight: bold;
    width:400px ;
    height: 50px;
    /* background-color: #8d3838; */
    color:#8d3838;;
}

#hbtn{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 6px 20px; 
    border: 2px solid rgb(224, 139, 11);
    display: block;
    background-color: rgb(221, 183, 134);
    color: rgb(0, 0, 0);
    margin: 17px ;
    font-size: 1rem;
    border-radius: 20px;
    position: center;
    display:flex;
    justify-content: center;
    align-items: center;
    margin:10px auto;
    font-weight: 500;

}
/* contact */
.h2style{
    padding-top: 80px;
    padding-bottom: 12px;
    font-size: 3.8rem;
    color:  #8d3838;
    font-family: 'Berkshire Swash', cursive;

}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box form{
    width: 40%;

}
#contact-box label{
    font-size: 1.3rem;
    font-family: 'Germania One', cursive;
    color: rgb(206, 127, 74);
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 0.8rem;
    background-color: rgba(102, 102, 102, 0.116);
    margin-top: 5px;
    margin-bottom: 10px;
}
#csubmit{
    float: right;
    width:90px ;
    height: 30px;
    background-color:  rgb(206, 127, 74);
    border-radius: 9px ;
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
}
footer{
    background-color:  #8d3838c7;
    color: aliceblue;
    padding: 9px 20px;
}
