{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'login (1).css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Piedra&display=swap" rel="stylesheet">
</head>
<body>
    <div class=" div1">
        <img src="{% static '/log.jpg'%}" alt="my image">
    </div>
    <div class="div2">

        

        <div >
            <center>
                <div id="content">
                    {% include 'messages.html' %}
                    {% block content %} {% endblock content %}
                </div>
                <h1 class="logtxt">Welcome Back !!</h1>
                <form action="" method = "POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <!-- <label for="name">Name: </label> -->
                        <input type="text" name="email" id="email" placeholder="Enter your Email" required>
                    </div>
                    <div class="form-group">
                        <!-- <label for="name">Email: </label> -->
                        <input type="password" name="password" id="password" placeholder="Enter your password" required>
                        
                    </div>
                
                    <div class="form-group" >
                        <select id="users" name="users" required>
                            <option value="usertype">Select account type</option>
                            <option value="customer">Customer</option>
                            <option value="rider">Rider</option>
                            <option value="business">Business</option>
                            {% comment %} <option value="homemadedelivery">Home Made delivery</option> {% endcomment %}
                        </select>
                    </div>
                    <div class="form-group" >
                        <button id="csubmit">Submit
                        </button>
                    </div>
                </form>
                <button id="csubmit">← Home</button>
                <p id="signupid">Don't have a account? <a id = "signupid" href="/signup-as">Create one!</a></p>

            </center>
            
        </div>
    </div>
</body>

</html>